@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import "./sweetalert2";
$aos-distance: 200px; // It has to be above import
@import "~aos/dist/aos.css";

@import "~@fancyapps/ui/src/Fancybox/Fancybox";
[data-aos=zoom-out] {
    transform: scale(2.5);
}


@media print {
    [data-aos^=fade][data-aos^=fade] {
        opacity: 1;
        transform: translateZ(0);

    }

    .container {
        width: 100%;
        padding: 0;
    }

    .prose {
        max-width: 100%;
    }

    .page-break {
        page-break-after: always;

    }
}

[x-cloak] {
    display: none;
}

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}


@layer base {
    html {
        scroll-behavior: smooth;
        //@apply snap-both snap-proximity;
    }

    .container {
        @apply max-w-2xl px-6 lg:px-8;
    }

    body {
        overscroll-behavior-y: contain;
        @screen md{
            overscroll-behavior-y: auto;
        }
    }

}

//.fancybox__container {
//    .fancybox__backdrop {
//        @apply bg-white/20 backdrop-blur;
//    }
//    .fancybox__carousel {
//        @apply shadow-xl shadow-gray-600/60 rounded-2xl;
//    }
//}
@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }

    a.link {
        @apply text-gray-900 hover:underline hover:decoration-2 hover:decoration-indigo-500;
    }

    .section {
        @apply snap-center;
    }
}

@layer components {

    .sub-title {
        @apply px-0 pt-0 pb-2 m-0 font-semibold text-center text-indigo-500 text-xs uppercase align-baseline border-0 box-border;
    }

    .home-bg {
        position: absolute;
        max-width: 100%;
        top: 0;
        z-index: -1;
        overflow: hidden;
        right: 0;
        padding-bottom: 5vh;

        &>img {
            left: 50px;
            @apply relative;
        }

        .image {
            @apply max-w-screen-xl right-0 absolute;
            top: 100px;

            img {
                max-height: 700px;
                position: relative;
                right: -140px;
                clip-path: url(../images/header-mask.svg#photoTop);
                mask-image: url(../images/header-mask.svg#photoTop);
                -webkit-mask-repeat: space;

            }
        }
    }
}

.fancybox__backdrop {
    @apply bg-white/80;
}
.fancybox__content {
    @apply rounded-xl drop-shadow-2xl shadow-xl shadow-gray-500/30 overflow-hidden backdrop-grayscale p-4 bg-white;
}
.fancybox__slide {
    padding: 10px 64px;
    @apply relative;
}
.fancybox__track {
    // @apply transition-all duration-75;
}
.fancybox__caption {
    @apply absolute bottom-0;
}
